<div class="row">
  <div class="large-4 columns">
    <section id="courses-banner-large">
      <div class="row">
        <div class="large-12 columns banner-image">
          <%= image_tag 'ikonica.png' %>
        </div>
        <div class="large-12 columns banner-info">
          <h3>Uključite se!</h3>
          <p>Odaberite aktuelnu akciju prema sopstvenim mogućnostima i pomozite Vašim sugrađanima.</p>
          <a href="#" class="button">Saznaj Vise »</a>
          <hr>
        </div>
      </div>
    </section>
  </div>
  <div class="large-8 small-12 columns">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">Sve</a></dd>
      <dd><a href="#">Volontiraj</a></dd>
      <dd><a href="#">Doniraj</a></dd>
    </dl>
    <hr>
    <% @events.each do |e| %>
      <div class="row" id="<%=e.category%>">
        <div class="large-8 small-8 columns">
          <h5><%= link_to e.name, e %></h5>
        </div>
        <div class="large-4 small-4 columns">
          <span class="secondary label pull right"><%= e.category %></span>
        </div>
        <div class="large-12 small-4 columns">
          <p><%= e.grad %>
        </div>
        <div class="large-12 small-4 columns">
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
